/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.sidenav.affix {
  position: static;
}

/* First level of nav */
.sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.sidenav .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}

.sidenav .nav > li > a:hover, .sidenav .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}

.sidenav .nav > .active > a, .sidenav .nav > .active:hover > a, .sidenav .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.sidenav .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}

.sidenav .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .sidenav .nav > .active > ul {
    display: block;
  }

  /* Widen the fixed sidebar */
  .sidenav.affix, .sidenav.affix-bottom {
    width: 213px;
  }

  .sidenav.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }

  .sidenav.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }

  .sidenav.affix-bottom .sidenav, .sidenav.affix .sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .sidenav.affix-bottom, .sidenav.affix {
    width: 263px;
  }
}

/*
 * Docs sections
 *
 * Content blocks for each component or feature.
 */

/* Space things out */
.side-section + .side-section {
  padding-top: 40px;
}

/* Janky fix for preventing navbar from overlapping */
h1[id] {
  padding-top: 80px;
  margin-top: -45px;
}