
.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-register .form-register-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}

.form-register .checkbox {
  font-weight: normal;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: 44px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-register .form-control:focus {
  z-index: 2;
}

.form-register .password {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-register .username {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*.form-register .fisrt_name{*/
  /*width: 48%;*/
/*}*/
/*.form-register .last_name{*/
  /*width: 50%;*/
/*}*/
.form-register .fisrt_name, .form-register .last_name {
  margin-bottom: -1px;
  border-radius: 0;
  display: inline;
}

.form-register .email {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-register .patchca {
  margin-top: -1px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 60%;
  display: inline;
}

.form-register .captcha {
  margin-top: -1px;
  margin-left: -1px;
  vertical-align: top;
  border: 1px solid #ccc;
  border-bottom-right-radius: 4px;
}