html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
form legend {
  display: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
ol,
ul {
  list-style: none;
}
body {
  background: url("../../../image/bg.jpg");
  color: #3d4450;
  font: 200 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #3d4450;
  text-decoration: none;
  padding: 12px 0 12px 0;
}
a:hover {
  color: #d9534f;
}
.f10 {
  font-size: 10px !important;
}
.f12 {
  font-size: 12px !important;
}
.navbar-inverse {
  color: #ffffff !important;
  background-color: #3d4450 !important;
}
.navbar-nav {
  border-left: 1px solid #080808;
}
.navbar-nav a {
  color: #ffffff !important;
  border-right: 1px solid #080808 !important;
}
.navbar-right {
  padding-right: 15px;
}
@media (min-width: 768px) {
  .navbar .navbar-header {
    float: right;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .navbar .navbar-brand {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.container-main {
  /*background-color: #fff;*/
  border: 1px #dddddd;
  /*border-radius: 4px 4px 0 0;*/
  box-shadow: none;
  position: relative;
  /*min-height: 300px;*/
  height: 100%;
  padding-top: 60px;
  /*padding: 30px 0;*/
}
.footer-main {
  position: relative;
  right: 0;
  left: 0;
  /*z-index: 1030;*/
  bottom: 0;
  height: 100%;
  width: 100%;
  color: #999999;
  text-align: center;
  /*padding: 30px 0;*/
  margin-top: 30px;
  border-top: 1px solid #999999;
  background-color: #f5f5f5;
  zoom: 1;
}
.footer-main p {
  margin: 2px 0 0;
}
#scrollUp {
  font-size: 40px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  top: auto;
  display: block;
  cursor: pointer;
  z-index: 999;
  color: #3d4450;
}
#scrollUp:hover {
  underl: none;
  color: #d9534f;
}
.dropdown-menu .divider {
  *margin: 0px;
}
.navbar-header {
  padding: 0 15px;
}
.mm-fixed-top {
  z-index: 99;
  border-radius: 0px;
  position: fixed;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar-btn {
  margin: 0px;
  padding: 18px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0px;
}
.col-sm-6 {
  *padding: 0px;
}
.col-md-4 {
  *padding: 0px;
}
.error-box {
  color: #dd1144;
}
.error-box .form-control {
  border: 1px solid #dd1144;
}
.error-border {
  border: 1px solid #dd1144;
}
.dropdown-menu {
  max-height: 400px;
  overflow: auto;
}
.menu-btn {
  color: #777;
  font-size: 24px;
  vertical-align: middle;
  display: block;
  /*height: 44px;*/
  border-radius: 0px;
  margin: 0px;
  position: relative;
  *padding-bottom: 12px;
  background-color: transparent;
  background-image: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  cursor: default;
}
.menu-btn .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
}
.menu-btn .icon-bar + .icon-bar {
  margin-top: 4px;
}
.menu-btn:hover,
.menu-btn:focus,
.menu-btn-hover {
  background-color: #262c35 !important;
}
.triangle {
  border-right: 6px solid;
  border-top: 6px solid rgba(0, 0, 0, 0);
  bottom: 1px;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  position: absolute;
  right: 1px;
  vertical-align: bottom;
  width: 0;
}
.menumain {
  display: none;
}
.menunav li > a {
  color: #777;
  position: relative;
  display: block;
  padding: 5px 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.menunav .left {
  font-size: 16px;
}
.menunav .right {
  border-left: 1px solid #EDEDED;
}
.header-main {
  border-left: 0px;
  border-right: 0px;
}
.header-default,
.header-sm {
  text-align: center;
}
.header-sm {
  display: none;
}
@media (min-width: 768px) {
  .menumain {
    display: none;
  }
  .menunav .col-md-3,
  .menunav .col-md-9 {
    float: left;
  }
  .menunav .col-md-3 {
    width: 25%;
  }
  .menunav .col-md-9 {
    width: 75%;
  }
  .logo-toggle {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-sm {
    display: block;
  }
  .header-default {
    display: none;
  }
  .menunav {
    padding-top: 10px;
  }
  .menunav .left li {
    display: inline-block;
  }
  .navbar-left {
    display: none;
  }
  .navbar-nav,
  .navbar-nav a {
    border: 0px !important;
  }
  .menu-btn {
    font-size: 28px !important;
  }
}
.logo-toggle {
  position: relative;
  float: left;
  /* margin-right: 15px; */
  padding: 0px;
  background-color: transparent;
  background-image: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.menu-pop {
  max-width: 500px !important;
}
.navbar-menu {
  padding: 16px 23px 12px;
  float: right;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.textright {
  text-align: right;
}
.mm-search input {
  *border: 1px solid #C5C5C5;
}
.searchbar input {
  width: 100%;
  border-radius: 3px;
  height: 36px;
}
.searchbar button.search {
  right: 16px;
  padding: 0 12px;
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #888;
  height: 34px;
  position: absolute;
  top: 1px;
  z-index: 2;
  text-shadow: none;
}
.searchbar .tt-hint {
  position: absolute;
  top: 0px;
  left: 0px;
  border-color: transparent;
  box-shadow: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  background-position: 0% 0%;
  background-repeat: repeat repeat;
}
.searchline {
  margin-bottom: 20px;
}

